@import "_colors";
@import "_variables";
body {
    background-color: $backgroundcolor;
    padding: 40px 0;
}
.page-title{
    h1{
        font-size: 4rem;
        color: $maincolor;
        text-align: center;
        text-transform: capitalize;
    }
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem 4rem;
    .input-box {
        position: relative;
        padding: 2rem;
        width: 100%;
        min-height: 10rem;
        background-color: $inputbc;
        border-radius: 0.7rem;
        box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);

        form {
            input[type="text"] {
                background-color: $inputbc;
                width: 95%;
                padding: 1rem;
                margin: 1rem 0rem;
                border: none;
                border-bottom: 0.2rem solid black;
                transition: border 0.4s ease;
                font-weight: bold;
                font-size: 2.3rem;
            }
            input[type="text"]:focus {
                border-bottom: 0.2rem solid $maincolor;
            }
            textarea {
                width: 95%;
                padding: 1rem;
                margin: 1rem 0rem;
                background-color: $inputbc;
                border: none;
                border-bottom: 0.2rem solid black;
                transition: border 0.4s ease;
            }
            textarea:focus {
                border-bottom: 0.2rem solid $maincolor;
                // height: 15rem;
            }
            button{
                position: absolute;
                background-color: $maincolor;
                padding: 1.2rem 3rem;
                color: white;
                bottom: -1.5rem;
                left: 50%;
                border-radius: 3rem;
                transform: translateX(-50%);
                cursor: pointer;
            }
        }
    }
}
.container {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 20px;
        align-items: stretch;

        article {
            border-radius: 0.7rem;
            box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
            background-color: #fff;
            display: flex;
            position: relative;
            padding: 2rem;
            .text {
                font-size: 1.5rem;
            }
            .delete {
                position: absolute;
                bottom: 1.2rem;
                right: 2rem;
                i {
                    font-size: 1.7rem;
                }
                i:hover {
                    color: red;
                }
            }
            .edit {
                position: absolute;
                bottom: 1.2rem;
                right: 4rem;
                i {
                    font-size: 1.7rem;
                    color: green;
                }
                i:hover {
                    color: green;
                    opacity: 0.8;
                }
            }
        }
    }
}
@media screen and (min-width: 655px) {
    .input-container {
        .input-box {
            width: 50rem;
        }
    }
}
